{% extends 'base.html' %}

{% block content %}
<style>
 form {
 margin-top: 50px
 }
</style>

<div>
<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input
        value="search"
        type="submit"/>
</form>
</div>
{% if error %}
<p>По данному запросу ничего не найдено</p>
{% else %}
<h5>Ранее вы искали погоду в городе {{ cookie_device.last_query }}</h5>
<div>
    <p>В городе {{ cookie_device.last_query }} сейчас {{ current_condition.temp }}°C</p>
    <p><img src="{{ current_condition.image }}"/> {{ current_condition.weather }} </p>
</div>
<p>Погода на ближайшие 3 часа</p>
<div>
    <p>Температура: {{ current_condition.temp }}°C</p>
    <p><img src="{{ next_condition.image }}"/> {{ next_condition.weather }} </p>
</div>
{% endif %}
{% endblock %}